# ===============================
# .NET
# ===============================
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.sqlite
*.log

# EF Core
Migrations/

# ===============================
# Node (caso rode npm na raiz no futuro)
# ===============================
node_modules/
dist/
build/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Rider / JetBrains
# ===============================
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# Bancos de Dados SQLite locais
*.db
*.db-shm
*.db-wal